@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bokor&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fredoka:wght@300..700&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 5px 1px gray;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
  display: none;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 16px;
  background-color: white;
}

.content h1 {
  font-size: 44px;
  text-align: center;
  margin-top: 75px;
}

.dark .content h1 {
  color: black;
}

.content-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h2 {
  font-size: 25px;
  color: red;
  position: relative;
  top: -270px;
  left: 260px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.close:hover {
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  width: 450px;
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #218838;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.modal .show {
  display: flex;
}

.container {
  max-width: 1250px;
  margin: auto;
}

i {
  cursor: pointer;
}

button {
  cursor: pointer;
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 48px;
  background-color: black;
}
header .header-top a {
  font-size: 14px;
  color: white;
  font-weight: 600;
}
header .header-top p {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
header .header-bottom {
  margin-top: 25px;
  display: flex;
  gap: 210px;
  align-items: center;
  justify-content: center;
}
header .header-bottom .logo h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3%;
}
header .header-bottom .navbar-list {
  list-style: none;
  display: flex;
  gap: 60px;
}
header .header-bottom .navbar-list .navbar-item {
  list-style: none;
}
header .header-bottom .navbar-list .navbar-item a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
header .header-bottom .search {
  display: flex;
  align-items: center;
  width: 343px;
}
header .header-bottom .search input {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 38px;
  width: 283px;
  padding-left: 10px;
}
header .header-bottom .search .fa-solid {
  margin-left: -20px;
}
header .header-bottom .search .search-icon {
  position: relative;
  top: 25px;
  font-size: 20px;
  margin-left: 35px;
  display: flex;
}
header .header-bottom .search .search-icon i {
  margin-left: 25px;
}

.home {
  display: flex;
  gap: 120px;
}
.home .home-left .wrap {
  margin-top: 35px;
  cursor: pointer;
}
.home .home-left .wrap p {
  margin-top: 20px;
}
.home .home-left .wrap p .chevron1 {
  margin-left: 65px;
}
.home .home-left .wrap p .chevron2 {
  margin-left: 85px;
}
.home .home-right {
  margin-top: 35px;
  background-color: black;
  width: 892px;
  height: 345px;
}
.home .home-right .banner {
  display: flex;
}
.home .home-right .banner .banner-text {
  margin-left: 75px;
}
.home .home-right .banner .banner-text span {
  display: flex;
  margin-top: 50px;
  align-items: center;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
}
.home .home-right .banner .banner-text span i {
  font-size: 50px;
  color: white;
}
.home .home-right .banner .banner-text h1 {
  margin-top: 25px;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: white;
  width: 284px;
  margin-bottom: 25px;
}
.home .home-right .banner .banner-text a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: white;
}
.home .home-right .banner .banner-text a i {
  margin-left: 10px;
  font-size: 20px;
}
.home .home-right .banner .banner-img {
  margin-top: 17px;
}

.flash-sales {
  margin-top: 200px;
}
.flash-sales .sales-wrap {
  display: flex;
  align-items: center;
  gap: 100px;
}
.flash-sales .sales-wrap h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.flash-sales .sales-wrap .countdown {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.flash-sales .slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: auto;
}
.flash-sales .slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  gap: 20px;
}
.flash-sales .slider-container .slider .card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 340px;
}
.flash-sales .slider-container .slider .card .button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 90px;
  height: 50px;
  padding: 3px;
  margin-top: 5px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.flash-sales .slider-container .slider .card .button-64 span {
  padding-top: 10px;
  font-size: 18px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.flash-sales .slider-container .slider .card .button-64:hover span {
  background: none;
}
@media (min-width: 768px) {
  .flash-sales .slider-container .slider .card .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.flash-sales .slider-container .slider .card .card-text {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 201px;
}
.flash-sales .slider-container .slider .card .price {
  font-size: 18px;
  margin-left: 15px;
}
.flash-sales .slider-container .slider .card .price del {
  margin-left: 5px;
}
.flash-sales .slider-container .slider .card .textx {
  margin-left: 12px;
  margin-top: 5px;
}
.flash-sales .slider-container .slider .card .textx i {
  color: gray;
}
.flash-sales .slider-container .slider .card .textx .asd {
  color: #FFAD33;
}
.flash-sales .slider-container .slider .card img {
  width: 100%;
}
.flash-sales .slider-container .slider .card .price {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: red;
}
.flash-sales .slider-container .slider .card .price del {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: gray;
}
.flash-sales .slider-container .slider .card button {
  margin-top: 35px;
  width: 100%;
  height: 41px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: black;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.flash-sales .slider-container button:hover {
  background-color: #444;
}
.flash-sales .carusel-btns button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
}

.products .products-top {
  margin-top: 100px;
}
.products .products-top h1 {
  margin-left: 50px;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4%;
}
.products .button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 90px;
  height: 50px;
  padding: 3px;
  margin-top: 8px;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.products .button-64 span {
  padding-top: 10px;
  font-size: 18px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.products .button-64:hover span {
  background: none;
}
@media (min-width: 768px) {
  .products .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
.products .products-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1170px;
  row-gap: 65px;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin: auto;
  margin-top: 50px;
}
.products .products-wrapper .card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 270px;
  height: 383px;
}
.products .products-wrapper .card .card-text {
  text-align: center;
  margin: auto;
  padding-left: 10px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 201px;
}
.products .products-wrapper .card .textx {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 20px;
}
.products .products-wrapper .card .textx .asd {
  color: #FFAD33;
}
.products .products-wrapper .card .textx i {
  color: gray;
}
.products .products-wrapper .card .textx .price {
  padding-left: 10px;
  padding-top: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: red;
}
.products .products-wrapper .card .textx .price del {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: gray;
}
.products .products-wrapper .card img {
  width: 100%;
}

.cart-badge {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: -10px;
}/*# sourceMappingURL=style.css.map */